.main-container {
  width: 100%;
  max-height: 100vh;
}

.main-content {
  display: flex;
  height: calc(100vh - 80px);
}

.sidebar-left {
  flex: 1;
  border-right: 1px solid #CCC;
}

.sidebar-left ul li {
  display: flex;
  align-items: center;
  margin-top: 24px;
  padding-left: 36px;
}

.sidebar-left ul li a {
  padding-left: 8px;
  text-decoration: none;
  color: #666666;
}

#icon-size {
  color: #666666;
  font-size: 32px;
}

.sidebar-right {
  flex: 7;
}
