.form-cliente-container {
  padding-bottom: 36px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-cliente-content {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  font-size: 24px;
}

.form-cliente-content input {
  width: 500px;
  height: 36px;
  outline: none;
}

.form-cliente-btn {
  margin-top: 24px;
  height: 32px;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #fff;
  padding: 8px 24px;
  background-color: #00c36f;
  cursor: pointer;
  font-weight: 600;
}

.form-cliente-btn:hover {
  background-color: #016f3f;
}
